* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: sans-serif;
}
  
.container {
    width: 80%;
    margin: auto;
}
  
h1 {
    margin-top: 30px;
    color: #095256;
    font-size: 40px;
}
  
button {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #095256;
    margin: 20px 0;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    text-transform: uppercase;
}
  
.articolo {
    border: 5px solid #087F8C;
    padding: 10px;
    margin: 20px 0;
    color: #087F8C;
    border-radius: 20px;
    width: 150px;
}

.user {
    border: 5px solid #8AA1B1;
    padding: 10px;
    margin: 20px 0;
    color: #8AA1B1;
    border-radius: 20px;
    width: 250px;
}